.card-hover:hover{
  box-shadow: 5px 5px 10px grey;
  transform: scale(1.05);
  cursor: pointer;
  z-index: auto;
}
.card-withoutline{
    text-decoration: none !important;
}
.font15{
    font-size: 15px;
}
.font24{
    font-size: 30px;
}
